
<h1 style="text-align: center;"> My BookMarks </h1>
<table class="table align-middle mb-0 bg-white" style="margin-left: 70px; margin-top: 70px; width: 90%;">
    <thead class="bg-light">
      <tr>
        <th>Ticket Number</th>
        <th>Detail</th>
        <th>Remove Bookmark??</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bookmark of bookmarks; index as i"  >
        <td>
          <div class="d-flex align-items-center">
             <div class="ms-3">
              <p class="fw-normal mb-1">{{bookmark.id}}</p>
             </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">{{bookmark.detail}}</p>
        </td>        
        <td>
          <span class="badge badge-success rounded-pill d-inline"  (click)="deleteBookmark(bookmark.id)"  ><button>Remove</button></span>
        </td>
     </tr>
    </tbody>
  </table>

