<h2 id="heading">Login</h2>  <br/>
<form>
    <div class="container"> 
        <label>Username : </label> 
        <input type="text" placeholder="Enter Username" name="username" required>
        <label>Password : </label> 
        <input type="password" placeholder="Enter Password" name="password" required>
        <button type="submit" routerLink="/">Login</button> 
        <input type="checkbox" checked="checked"> Remember me 
        <!-- <button type="button" class="cancelbtn"> Cancel</button>  -->
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
         Forgot <a href="#"> password? </a> 
    </div> 
</form>   





<!-- <div class="container">
    <div class="row align-items-center ">
        <div class="col-12 mx-auto">
   
  
  <div class="card"  style="width: 80%;">
  
  <div class="card-body">

    <h2 id="heading">Login</h2>  <br/>
    <form onSubmit={handleFormSubmit}>
      <div className="flex-row space-between my-2">
        <label htmlFor="email">Email address:</label>
        <input
          placeholder="youremail@test.com"
          name="email"
          type="email"
          id="email"
          onChange={handleChange}
        />
      </div> <br/>
      <div className="flex-row space-between my-2">
        <label htmlFor="pwd">Password:</label>
        <input
          placeholder="******"
          name="password"
          type="password"
          id="pwd"
          onChange={handleChange}
        />
      </div>
        <div>
          <p className="error-text">The provided credentials are incorrect</p>
        </div>
      <div className="flex-row flex-end">
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>


  
</div>
</div>  
</div>   
</div> -->