header {
    display: flex;
    justify-content: space-between;
    margin: 30px 30px 20px;
    background-color: #000104;
  }
  

  a {
    margin-left: .75em;
  }

  h1 {

    padding : 20px 0 20px 50px;
  }