<div class="container">
    <div class="row align-items-center ">
        <div class="col-12 mx-auto">
   
  
  <div class="card"  style="width: 80%;">
  
  <div class="card-body">
  
    <header>
    <h1> Ticket Details</h1>
    
    <button id="editButtonStyle" [routerLink]="['/editTicket', ticketInfo.id]">Add Resolution</button>
    </header>

    <p>_________________________________________________________________________________________________________________________________________________</p>  
  <br>
  
  <div>
    
    <h2 class="row">Ticket ID :{{ticketInfo.id}} </h2>   <br/>

    <h2 class="row"> Details  : {{ticketInfo.detail}} </h2> <br/>

    <h2 class="row"> Resolution : {{ticketInfo.resolution}} </h2> <br/>

    <h2 class="row"> Opended By : {{ticketInfo.openedby}} </h2> <br/>

    <h2 class="row"> Closed By : {{ticketInfo.closedby}} </h2> <br/>

  </div>

  <br/> 
  
  <button type="submit" id="HomePageButton" routerLink="" >Return to Home Page</button>
  
  </div>
  
  
  </div>  </div>   </div>