body {

    background : linear-gradient(to right, #f857a6, #ff5858);  
     /* background-color : #ff5858; */
    
   }
  
   header {
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
       
  }

  .card {
     padding-left: 20px; 
     border: 2px solid black;
     align-content: center; 
  }
  
  #HomePageButton {
     align-content: center;
     color: white;
     background-color: rgb(15, 107, 187);
     width: 90%;
     height : 35px;
     border : 1px;
     border-radius: 7px;
  
  }
  
  input {
     width : 100%;
  }
  
  .column {
     float: left;
     padding: 10px;
     
   }
   
   .left {
     width: 10%;
   }
   
   .right {
     width: 20%;
   }
   
  
   .middle {
     width: 65%;
   }
   
  
  
   #buttonStyle {
     background-color: white;
     color: #ff69b4;
     border: 2px solid #ff69b4;
     border-radius: 7px;
   }
  
   #removeStyle {
     background-color: white;
     border: none;
   }
  

   #editButtonStyle {
    background-color: rgb(253, 147, 9);
    color: white;
    border: 2px solid rgb(253, 147, 9) ;
    border-radius: 7px;
    align-content: center;
    width: 20%;
    height : 70px;
    font-size: 20px;
    
  }


  #editButtonStyle :hover {
    background-color: orange;
    color: white;
    
  }





  
   .completedTask{
     text-decoration: line-through;
  }
  
  @media only screen and (min-width: 768px) {
  
  .input {
        width : 80%;
  }
  
  
  
  }