<div class="container">
    <div class="row align-items-center ">
        <div class="col-12 mx-auto">
   
  
  <div class="card"  style="width: 80%;">
  
  <div class="card-body">
    <!-- <h1> Ticket Details</h1>      <button routerLink="/editTicket"      [routerLink]="['/editTicket', ticketInfo.id]"> Edit </button> -->
    <h1> Ticket Details</h1>
    <!-- <h1> Ticket Details</h1>      <a routerLink="/editTicket"> Edit </a>  -->
      <a [routerLink]="['/editTicket', ticketInfo.id]"> Edit</a>
      <p>_________________________________________________________________________________________________________________________________________________</p>  
  <br>
  
  <div>
    
    <h2 class="row">Ticket ID :{{ticketInfo.id}} </h2>   <br/>

    <h2 class="row"> Details  : {{ticketInfo.detail}} </h2> <br/>

    <h2 class="row"> Resolution : {{ticketInfo.resolution}} </h2> <br/>

    <h2 class="row"> Opended By : {{ticketInfo.openedby}} </h2> <br/>

    <h2 class="row"> Closed By : {{ticketInfo.closedby}} </h2> <br/>

  </div>

  <br/> 
  
  <button type="submit" id="HomePageButton" routerLink="" >Return to Home Page</button>
  
  </div>
  
  
  </div>  </div>   </div>