#saveButton {
    align-content: center;
    background-color: rgb(15, 107, 187);
    width: 50%;
    height : 55px;
    border : 1px;
    border-radius: 7px;
    margin-left: 200px;
    color: white;
    font-weight: bold;
    font-size: 20px;
 }

 #HomePageButton {
    align-content: center;
    background-color:rgb(15, 107, 187);
    width: 70%;
    height : 55px;
    border : 1px;
    border-radius: 7px;
    margin-left: 100px;
    color: white;
    font-weight: bold;
    font-size: 20px;

}